.nav {
  position: relative;
  isolation: isolate;
}

.user-card {
  border-radius: var(--border-radius);
  background-color: var(--color-blue);
  padding: 1.25em;
  display: flex;
  gap: 1em;
  align-items: center;
  color: var(--color-pale-blue);
  z-index: 10;

  &__image-container {
    line-height: 0;
    border-radius: 50%;
    border: 3px solid var(--color-pale-blue);
    overflow: hidden;
    width: 3.5em;
  }

  &__info {
    display: flex;
    flex-direction: column;

    & span:first-of-type {
      font-size: 0.75rem;
    }

    & span:nth-of-type(2) {
      font-size: 1.25rem;
    }
  }
}

.tabs {
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: -1em;
  padding: 2.15em 1.25em 1.15em;
  border-radius: var(--border-radius);
  background-color: var(--color-dark-blue);
  color: var(--color-desaturated-blue);

  ul {
    display: flex;
    justify-content: space-between;
  }

  ul li {
    list-style: none;
    text-align: center;
  }
}
